h1,h2{
  font-family: 'Ephesis', cursive;
font-family: 'Indie Flower', cursive;
line-height: 5cm;
}
p{
  font-family: 'Ephesis', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Permanent Marker', cursive;
}
