*{
  box-sizing: border-box;
}

body{
  background-color: rgb(180, 180, 180);
}

#open{
  background-color:blue;
  color:white;
  box-shadow:0;
}

.modalContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
}

.modalContainer.show{
  opacity: 1;
  pointer-events: auto;
}

#close{
  background-color: red;
  color: white;
}

.modal{
  background-color: white;
  width:400px;
  max-width:100%;
  box-shadow:0;
  border-radius:10px;
  padding:20px 30px;
  text-align: center;
}
