.container{
  background-color: white;
}


.row{
  display: flex;
  flex-direction: row;
}

.wrap{
  flex-wrap: wrap;
}

.column-full{
  flex-basis: calc(100%);
}

.column-half{
  flex-basis: calc(100%/2);
}

.row .column-full header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
}

.row .column-full p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .wrap .column-half img,h3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: calc(100%/2);
}

.row .wrap .column-half p{
  display: flex;
  justify-content: center;
  align-items: center;
}
