#container{
   background-color: rgb(113, 28, 28);
  width:1000px;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle{
  border-radius: 50%;
  background-color: white;
  height: 200px;
  width:200px;
}
