.container{
  background-color: rgb(47, 146, 244);
}
.row{
  display: flex;
}
h1{
  color:white;
  margin-left: 220px;
}
.row .column-full{
  flex-basis: calc(100%);
}
.row .column-third .image{
  flex-basis: calc(100%/3);
  border-radius: 50%;
  background-color: white;
  height: 240px;
  weight:240px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}
img{
  width: 50%;
}
h2{
color:white;
margin-left: 200px;
}
p{
  color:white;
  margin-left: 170px;
}
