.container{
  background-color: white;
}

.row{
  display: flex;
  text-align: center;
}

.column-full{
  flex-basis:calc(100%)
}

.column-quarter{
  flex-basis: calc(100%/4);
}

.row .column-full{
  justify-content: center;
}

.row .column-quarter .screen{
  display: flex;
  flex-basis: calc(100%/4);
  justify-content: center;
  width:200px;
  height:300px;
}

.row .column-quarter .icon{
  display: flex;
  flex-basis:calc(100%/4);
  justify-content: center;
  height:150px;
  width:150px;
}

.row .column-quarter .head{
  display: flex;
  flex-basis:calc(100%/4);
  justify-content: center;
}

.row .column-quarter .p{
  display: flex;
  flex-basis: calc(100%/4);
  justify-content: center;
}
